<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940090447545-ln383up9ddmoekqgdh3p431pigblg0af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940090447545-ln383up9ddmoekqgdh3p431pigblg0af</string>
	<key>API_KEY</key>
	<string>AIzaSyA5ws7Eu6-6G3g5K4yML5urdQOOyaSHTSM</string>
	<key>GCM_SENDER_ID</key>
	<string>940090447545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FrozenMaple.ChemSmartNotes</string>
	<key>PROJECT_ID</key>
	<string>chemsmartnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>chemsmartnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940090447545:ios:4daa60c2de7b7aab23ad68</string>
</dict>
</plist>